<template>
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-lg-4">
      <div class="card">
        <h3 class="card-title text-center m-4">LOGIN</h3>
        <div class="card-body">
          <b-form @submit="onSubmit">
            <b-form-group id="input-group-1" label="Email" label-for="email">
              <b-form-input
                :state="emailValidation"
                id="email"
                v-model="user.email"
                type="email"
                placeholder="Enter email"
                required
                class="mt-2"
              ></b-form-input>
              <b-form-invalid-feedback :state="emailValidation">
                Requierd Field
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="input-group-1"
              label="password"
              label-for="password"
            >
              <b-form-input
                :state="passwordValidation"
                id="password"
                v-model="user.password"
                type="password"
                required
                class="mt-2"
              ></b-form-input>

              <b-form-invalid-feedback :state="passwordValidation">
                Requierd Field
              </b-form-invalid-feedback>
            </b-form-group>

            <button class="btn btn-primary w-100 mb-2">login</button>
            <small class="ml-2">
              Don't have account?
              <strong>
                <router-link :to="{ name: 'register' }"
                  >Register Now</router-link
                >
              </strong>
            </small>
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      this.$store
        .dispatch("login", {
          user: this.user,
        })
        .then(() => {
          // console.log();
          // this.$store.getters.getUserToken
          this.$router.push({ name: "articlesList" });
        });
    },
  },
  computed: {
    emailValidation() {
      return this.user.email.length > 0;
    },
    passwordValidation() {
      return this.user.password.length > 0;
    },
  },
};
</script>
<style lang="scss" scoped>
// @import "@/assets/styles/_app.scss";
</style>
