<template>
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-lg-4">
      <div class="card">
        <h3 class="card-title text-center m-4">Register</h3>
        <div class="card-body">
          <b-form @submit="onSubmit">
            <b-form-group
              id="username-label"
              label="Username"
              label-for="username"
            >
              <b-form-input
                :state="usernameValidation"
                id="username"
                v-model="user.username"
                type="text"
                placeholder="Enter username"
                required
                class="mt-2"
              ></b-form-input>
              <b-form-invalid-feedback :state="usernameValidation">
                Requierd Field
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group id="email-label" label="Email" label-for="email">
              <b-form-input
                :state="emailValidation"
                id="email"
                v-model="user.email"
                type="email"
                placeholder="Enter email"
                required
                class="mt-2"
              ></b-form-input>
              <b-form-invalid-feedback :state="emailValidation">
                Requierd Field
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="password-label"
              label="password"
              label-for="password"
            >
              <b-form-input
                :state="passwordValidation"
                id="password"
                v-model="user.password"
                type="password"
                required
                class="mt-2"
              ></b-form-input>

              <b-form-invalid-feedback :state="passwordValidation">
                Requierd Field
              </b-form-invalid-feedback>
            </b-form-group>

            <button class="btn btn-primary w-100 mb-2">Register</button>
            <small class="ml-2">
              Already Registered?
              <strong>
                <router-link :to="{ name: 'login' }">Login</router-link>
              </strong>
            </small>
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      user: {
        username: "",
        email: "",
        password: "",
      },
    };
  },
  methods: {
    onSubmit() {
      event.preventDefault();
      this.$store
        .dispatch("register", {
          user: this.user,
        })
        .then(() => {
          this.$router.push({ name: "articlesList" });
        });
      return;
    },
  },
  computed: {
    usernameValidation() {
      return this.user.username.length > 0;
    },
    emailValidation() {
      return this.user.email.length > 0;
    },
    passwordValidation() {
      return this.user.password.length > 0;
    },
  },
};
</script>
<style lang="scss" scoped>
// @import "@/assets/styles/_app.scss";
</style>
