<template>
  <master>
    <h2>All Posts</h2>
    <br />
    <b-table
      :items="items"
      :fields="fields"
      responsive="sm"
      thead-class="bg-light"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template #cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template #cell(actions)="data">
        <drop-down :items="[]">
          <router-link
            :to="{ name: 'article', params: { slug: data.item.slug } }"
          >
            Edit
          </router-link>
          <a v-b-modal.modal-prevent-closing @click="setItem(data.item.slug)"
            >Delete</a
          >
        </drop-down>
      </template>
    </b-table>

    <div class="d-flex justify-content-center">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @input="getItems(currentPage)"
      ></b-pagination>
    </div>

    <!-- DELETE MODAL -->
    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Delete Article"
      @ok="deleteItem"
    >
      <p>Are you sure to delete Article?</p>
    </b-modal>
    <!-- DELETE MODAL -->
  </master>
</template>
<script>
import DropDown from "../../../components/DropDown.vue";
import Master from "../../layouts/Master.vue";
export default {
  name: "ArticlesList",
  components: { Master, DropDown },
  data() {
    return {
      row: 0,
      perPage: 10,
      currentPage: 1,
      selectedItemSlug: "",
      items: [],
      fields: [
        {
          key: "index",
          label: "#",
        },
        { key: "title", label: "Title" },
        { key: "author.username", label: "Author" },
        {
          key: "tagList",
          label: "Tags",
          formatter: (value) => {
            let str = "";
            for (var i = 0; i < value.length; i++) {
              str += value[i];
              if (i != value.length - 1) str += ",";
            }

            return str;
          },
        },
        { key: "description", label: "Excerpt" },
        {
          key: "createdAt",
          label: "Created",
          formatter: (value) => {
            return new Date(value).toDateString();
          },
        },
        { key: "actions", label: "" },
      ],
    };
  },
  computed: {
    rows() {
      return this.items.length;
    },
  },
  created() {
    this.getItems();
  },
  methods: {
    getItems(page = 1) {
      this.$store
        .dispatch("getArticlesReq", {
          page: page,
        })
        .then(() => {
          this.items = this.$store.getters.getArticles;
          //set current page && perPage
          //api not returns page number
          //this.currentPage = res.currentPage;
        });
    },
    setItem(slug) {
      this.selectedItemSlug = slug;
    },
    deleteItem() {
      this.$store
        .dispatch("deleteArticle", {
          slug: this.selectedItemSlug,
        })
        .then(() => {
          this.getItems();
        });
    },
  },
};
</script>
