<template>
  <master>
    <!-- Title -->
    <h2>{{ title }}</h2>
    <br />
    <!-- Title -->
    <b-form @submit="onSubmit" class="row">
      <div class="col-lg-8">
        <!-- Article From -->
        <b-form-group id="input-group-title" label="Title" label-for="title">
          <input
            class="form-control"
            v-validate="'required'"
            name="title"
            type="text"
            required
            v-model="article.title"
          />
          <span class="text-danger">{{ errors.first("title") }}</span>
        </b-form-group>

        <b-form-group
          id="input-group-description"
          label="Description"
          label-for="description"
        >
          <input
            class="form-control"
            v-validate="'required'"
            name="description"
            type="text"
            required
            v-model="article.description"
          />
          <span class="text-danger">{{ errors.first("description") }}</span>
        </b-form-group>

        <b-form-group id="input-group-body" label="Body" label-for="body">
          <textarea
            class="form-control"
            v-validate="'required'"
            name="body"
            type="text"
            required
            rows="5"
            v-model="article.body"
          />
          <span class="text-danger">{{ errors.first("body") }}</span>
        </b-form-group>

        <!-- Article From -->
      </div>
      <div class="col-lg-4">
        <searchable-selected-list
          :items="tags"
          @getCheckedList="setTags"
        ></searchable-selected-list>
      </div>
      <button class="btn btn-primary ml-3">Submit</button>
    </b-form>
  </master>
</template>
<script>
import SearchableSelectedList from "../../../components/SearchableSelectedList.vue";
import Master from "../../layouts/Master.vue";
export default {
  name: "Article",
  components: { Master, SearchableSelectedList },
  data() {
    return {
      isForUpdate: false,
      article: {},
      tags: [],
    };
  },
  beforeRouteUpdate(to, from, next) {
    this.tags = [];
    this.$store.commit("setTags", this.tags);
    this.restoreData(to);
    next();
  },
  computed: {
    title() {
      return this.isForUpdate ? "Edit Article" : "New Article";
    },
  },
  created() {
    this.restoreData(this.$route);
  },
  methods: {
    restoreData(route) {
      if (route.params.slug) {
        //update
        this.isForUpdate = true;
        //fetch article
        this.$store
          .dispatch("getArticleReq", {
            slug: route.params.slug,
          })
          .then(() => {
            this.article = this.$store.getters.getArticle;
            this.getTags();
          });
      } else {
        //create
        this.isForUpdate = false;
        this.article = {};
        this.$store.commit("setArticle", this.article);
        this.getTags();
      }
    },
    onSubmit(e) {
      e.preventDefault();
      if (this.isForUpdate) {
        //update
        this.$store
          .dispatch("updateArticle", {
            article: this.article,
          })
          .then(() => {
            this.$toast.success("Successfully Updated", {
              position: "top-right",
            });
            this.$router.push({ name: "articlesList" });
          });
      } else {
        //create
        this.$store
          .dispatch("createArticle", {
            article: this.article,
          })
          .then(() => {
            this.$toast.success("Successfully Added", {
              position: "top-right",
            });
            this.$router.push({ name: "articlesList" });
          });
      }
    },
    getTags() {
      this.$store.dispatch("getTagsReq").then(() => {
        var tags = this.$store.getters.getTags;
        for (var i = 0; i < tags.length; i++) {
          if (
            this.article.tagList &&
            this.article.tagList.find((obj) => obj == tags[i])
          ) {
            this.tags.push({
              title: tags[i],
              checked: true,
            });
          } else {
            this.tags.push({
              title: tags[i],
              checked: false,
            });
          }
        }
      });
    },
    setTags(tags) {
      const result = tags.map((e) => {
        return e.title;
      });
      this.article.tagList = result;
    },
  },
};
</script>
<style scoped></style>
