<template>
  <div class="dropdown">
    <button class="dropbtn" @click="show = !show">
      <b-icon icon="three-dots"></b-icon>
      <b-icon icon="caret-down-fill"></b-icon>
    </button>
    <div id="myDropdown" class="dropdown-content" v-show="show">
      <a v-for="(item, index) in items" :key="index" :href="item.link"
        >{{ item.title }}
      </a>
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  name: "DropDown",
  props: ["items"],
  data() {
    return {
      show: false,
      //   items: [],
    };
  },
  methods: {
    close(e) {
      if (!this.$el.contains(e.target)) {
        this.show = false;
      }
    },
  },
  mounted() {
    document.addEventListener("click", this.close);
  },
  destroyed() {
    document.removeEventListener("click", this.close);
  },
};
</script>
<style lang="scss" scoped>
.dropbtn {
  display: flex;
  justify-content: space-between;
  background-color: #5bc0de;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 60px;
  margin: 0 34.7px 0px 30px;
  padding: 11px 10.3px 11px 10px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 35px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
</style>
