<template>
  <div>
    <label for="searchInput">Tags</label>
    <input
      class="form-control"
      v-model="searchInput"
      @change="search"
      id="searchInput"
      name="searchInput"
      placeholder="search tag"
    />
    <div class="list-container">
      <b-form-checkbox
        v-for="(item, index) in values"
        :key="index"
        v-model="item.checked"
        class="m-2"
        @change="getCheckedList()"
      >
        {{ item.title }}
      </b-form-checkbox>
    </div>
  </div>
</template>
<script>
export default {
  name: "SearchableSelectedList",
  props: ["items"],
  data() {
    return {
      values: [],
      searchInput: "",
    };
  },
  mounted() {
    this.values = this.items;
  },
  methods: {
    getCheckedList() {
      //emit function to pass selected data
      let filterdValues = this.values.filter((obj) => obj.checked == true);
      this.$emit("getCheckedList", filterdValues);
    },
    search() {},
    getSelected() {},
  },
};
</script>
<style scoped>
.list-container {
  margin-top: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
}
</style>
