<template>
  <div id="app">
    <transition enter-active-class="animated fadeIn">
      <router-view />
    </transition>
  </div>
</template>
<script>
export default {};
</script>
<style>
body {
  margin: 0px !important;
  font-family: sans-serif;
}
html,
body,
#app {
  height: 100%;
}
</style>
