.card {
    border: none;
}

.card-body {
    border: none;
    color: $form-txt;
    background-color: $card-bg;
    border-radius: 4px;
}

h3 {
    color: $form-txt;
}

a,
a:hover {
    text-decoration: none;
    color: var(--charcoal-grey);
}

input[aria-invalid="true"] {
    border-color: #dc3545 !important;
}