<template>
  <div>
    <navbar :username="user.username" @toggle="toggleSidebar" />
    <div class="d-flex">
      <sidebar :fixed="isSidebarFixed" />

      <div class="container">
        <!--render pages-->
        <slot />
        <!--render pages-->
      </div>
    </div>
  </div>
</template>
<script>
import Navbar from "./Navbar.vue";
import Sidebar from "./Sidebar.vue";

export default {
  components: { Navbar, Sidebar },
  data() {
    return {
      isSidebarFixed: true,
    };
  },
  created() {
    if (!this.$store.getters.getUser.username)
      this.$store.dispatch("getCurrentUser");

    //resize event listener
    window.addEventListener("resize", this.resizeBrowserHandler);
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
  },
  methods: {
    toggleSidebar() {
      this.isSidebarFixed = !this.isSidebarFixed;
    },
    resizeBrowserHandler(e) {
      //mobile screen
      if (e.target.innerWidth < 767.98) {
        this.isSidebarFixed = false;
      } else {
        this.isSidebarFixed = true;
      }
    },
  },
  destroyed() {
    window.removeEventListener("resize", this.resizeBrowserHandler);
  },
};
</script>

<style lang="scss" scoped>
// @import "@/assets/styles/_app.scss";
.container {
  margin-left: 250px;
  padding: 1rem;
  position: relative;
  overflow-y: auto;
  padding-top: 100px;
  max-width: 100%;
  height: 100vh;
}
@media screen and (max-width: 400px) {
  .container {
    margin-left: 0px;
  }
}
</style>
