<template>
  <div>
    <b-navbar
      class="justify-content-between"
      toggleable="lg"
      type="dark"
      variant="dark"
    >
      <div class="d-flex align-items-center">
        <b-navbar-brand href="#">Arvan Challange</b-navbar-brand>
        <span>Welcome {{ username }}</span>
      </div>

      <!-- toggle btn -->
      <button
        class="btn btn-outline-primary d-sm-none d-block ml-3"
        style="height: 35px"
        @click="toggle"
      >
        <b-icon icon="list-stars"></b-icon>
      </button>
      <!-- toggle btn -->

      <!-- logout -->
      <button class="btn btn-outline-info d-none d-lg-block" @click="logout">
        logout
      </button>
      <!-- logout -->
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "Navbar",
  props: ["username"],
  methods: {
    toggle() {
      this.$emit("toggle");
    },
    logout() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push({ name: "login" });
      });
    },
  },
};
</script>
<style lang="scss" scoped>
nav {
  background-color: $nav-bg;
  color: white;
  height: 50px;
  position: fixed !important;
  z-index: 1000;
  left: 0;
  right: 0;
}
@media screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 1rem;
  }
  nav span {
    font-size: 0.75rem;
  }
}
</style>
