<template>
  <div id="mySidebar" class="sidebar" v-if="fixed">
    <h4 class="">Post</h4>
    <router-link :to="{ name: 'articlesList' }">All Articles</router-link>
    <router-link :to="{ name: 'article' }">New Article</router-link>
  </div>
</template>
<script>
export default {
  name: "Sidebar",
  props: ["fixed"],
  computed: {
    isFixed: {
      get() {
        return this.fixed;
      },
      set(item) {
        this.fixed = item;
      },
    },
  },
};
</script>
<style lang="scss" scoped>
.sidebar {
  color: white;
  height: calc(100vh); /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 50px;
  left: 0;
  bottom: 0;
  background-color: $sidebar-bg; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.sidebar h4 {
  padding: 1rem;
}
/* The sidebar links */
.sidebar a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}
.router-link-active {
  background-color: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 400px) {
  .sidebar .closebtn {
    display: block;
  }
  .sidebar {
    top: 0;
  }
}
</style>
